$darkTheme: (
  primary: #6f1e1e,
  secondary: #64313e,

  text_primary: #d4d4d4,

  background: #1b1b1b,
);

$lightTheme: (
  primary: #6f1e1e,
  secondary: #64313e,

  text_primary: #262323,

  background: #ffffff,
);
